<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mike.mp3player"
    android:installLocation="preferExternal">

    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="28" />

    <instrumentation android:targetPackage="com.example.mike.mp3player"
        android:name="androidx.test.runner.AndroidJUnitRunner"/>

    <application android:name="TestMikesMp3Player"
        android:allowBackup="false"/>

</manifest>