language: android
sudo: required
dist: trusty
os: linux
jdk:
  - oraclejdk8

before_cache:
- rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
  - $HOME/.gradle/caches/
  - $HOME/.gradle/wrapper/

# for sonarqube non shallow clone
git:
  depth: false

env:
  global:
  - secure: "lln9uFdPMa2RQsIZraczrZ8Bg+5AQPIOwbeP/soRzrjlgvBiYZnZvfrf4PuZhUmcRzom/HQ5QVnf5H6kQKCW9t8OS1p4ao26VwHsPMWBWowLQp/5he9JarJF6Xn8IkR012aujZPBNZzqNqD45Nc3FhJAiQ3XWxO/XXopGq7QLIdNLHObUU/MEbxYx/XnnLed3EHDnBoH8g2X8Uib1FbeCQlsyaSj25A9p12Gur7pzp/lY9YkDBXuUpqT/hsw7kRybiMpGXK6aJI2ztLEG7nn1/+VnYU+KJ/g8vMCWTA862ZfyTxy/k9Zp6SICvgNYrHa1X3C09wFuhtBCo+yVuyX0Lxg+87fCFrtL9QIch4mQSAToemvt839/A7dGF1Ir94G80XUf1jw8bxLlopUPGiQju7nbxVJeM/q3Lj3gIi4qk3JMj1VXtcJWH/dKJSnkremRWbI0E/P6/mH+p7d1GWTgGn3AEfhEDgl5u05zyRRf3O8mwI3r2M/Va/EYAXuADt+en+aZzKsF6/aMt9d7f9rg+gvBbuXRXI/Me3FJ8ZIABxPIux7sNA2udMAk/DyuYtrbrtwUul8yCR36UBVqMp+cKl58qOt+UmjO8uYsq2zoc+w5SjznYwzbXTl1zXZNy2p6RLQBV4F/H6n/HgRuttMUWp4JBV7CUwCh7+Ca6yN0hU="

android:
  components:
    - tools
    - platform-tools
    - build-tools-29.0.2
    - android-29

## safelist
branches:
  only:
  - master
  - develop

before_install:
  - yes | sdkmanager "platforms;android-28"

before_script:
- ls
- chmod +x gradlew
- ./gradlew dependencies || true
- chmod +x ./travis/install-jdk.sh

addons:
  sonarcloud:
    organization: "goldy1992-github" # the key of the org you chose at step #3
    token:
      secure: "lln9uFdPMa2RQsIZraczrZ8Bg+5AQPIOwbeP/soRzrjlgvBiYZnZvfrf4PuZhUmcRzom/HQ5QVnf5H6kQKCW9t8OS1p4ao26VwHsPMWBWowLQp/5he9JarJF6Xn8IkR012aujZPBNZzqNqD45Nc3FhJAiQ3XWxO/XXopGq7QLIdNLHObUU/MEbxYx/XnnLed3EHDnBoH8g2X8Uib1FbeCQlsyaSj25A9p12Gur7pzp/lY9YkDBXuUpqT/hsw7kRybiMpGXK6aJI2ztLEG7nn1/+VnYU+KJ/g8vMCWTA862ZfyTxy/k9Zp6SICvgNYrHa1X3C09wFuhtBCo+yVuyX0Lxg+87fCFrtL9QIch4mQSAToemvt839/A7dGF1Ir94G80XUf1jw8bxLlopUPGiQju7nbxVJeM/q3Lj3gIi4qk3JMj1VXtcJWH/dKJSnkremRWbI0E/P6/mH+p7d1GWTgGn3AEfhEDgl5u05zyRRf3O8mwI3r2M/Va/EYAXuADt+en+aZzKsF6/aMt9d7f9rg+gvBbuXRXI/Me3FJ8ZIABxPIux7sNA2udMAk/DyuYtrbrtwUul8yCR36UBVqMp+cKl58qOt+UmjO8uYsq2zoc+w5SjznYwzbXTl1zXZNy2p6RLQBV4F/H6n/HgRuttMUWp4JBV7CUwCh7+Ca6yN0hU="


script:
- jdk_switcher use oraclejdk8
- ./gradlew clean jacocoTestReportDebug -PdisablePreDex --stacktrace
- source ./travis/install-jdk.sh
- sonar-scanner -D sonar.java.libraries=${ANDROID_HOME}/platforms/${ANDROID_API}/android.jar
