<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.goldy1992.mp3player.client" >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application xmlns:tools="http://schemas.android.com/tools"
        tools:node="merge">
<!--        <activity android:name=".client.activities.MainActivityIdlingResourceImpl" />-->
<!--        <activity android:name=".activities.MainActivityUnitTestImpl" />-->
<!--        <activity android:name=".activities.SplashScreenEntryActivityUnitTestImpl" />-->
    </application>
</manifest>
