<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.goldy1992.mp3player.client"
    android:installLocation="preferExternal">

    <application tools:ignore="GoogleAppIndexingWarning"
        android:theme="@style/AppTheme"
        android:name="com.github.goldy1992.mp3player.UnitTestApplication">

        <activity android:name=".activities.SplashScreenEntryActivity" />
        <activity android:name=".activities.EmptyMediaActivityCompatFragmentActivity" />
        <activity android:name=".activities.MainActivity" />
    </application>
</manifest>