<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.goldy1992.mp3player"
    android:installLocation="preferExternal">

    <application tools:ignore="GoogleAppIndexingWarning">
            <activity android:name=".client.activities.MediaPlayerActivityInjectorTestImpl"/>
    </application>
</manifest>