<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.goldy1992.mp3player.client"
    android:installLocation="preferExternal">

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.FolderActivityInjectorTestImpl"/>
        <activity android:name=".activities.EmptyMediaActivityCompatFragmentActivity" />
        <activity android:name=".activities.MediaPlayerActivityInjectorTestImpl" />
        <activity android:name=".activities.SearchResultActivityInjectorTestImpl" />
        <activity android:name=".activities.TestMainActivity" />
    </application>
</manifest>