<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mike.mp3player"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MikesMp3Player"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/my_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Orange">
        <activity
            android:name=".client.activities.SplashScreenEntryActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".client.activities.MainActivity"
            android:label="@string/app_name"

            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".client.activities.MediaPlayerActivity"
            android:label="@string/app_name"
            android:parentActivityName=".client.activities.MainActivity" />
        <activity
            android:name=".client.activities.FolderActivity"
            android:label="@string/FOLDER_NAME"
            android:parentActivityName=".client.activities.MainActivity" />

        <service
            android:name=".service.MediaPlaybackService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <receiver android:name="androidx.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>