name: Github Semantic Release
on:
  workflow_dispatch:
  workflow_call:
    outputs:
      performed_release:
        description: "A flag output from semantic release to notify whether a new release version \
        has been created."
        value: ${{ jobs.semantic-release.outputs.performed_release }}
    secrets:
      SEMANTIC_RELEASE_FINE_GRAINED_TOKEN:
        required: true

jobs:
  semantic-release:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.SEMANTIC_RELEASE_FINE_GRAINED_TOKEN }}
      GITHUB_TOKEN: ${{ secrets.SEMANTIC_RELEASE_FINE_GRAINED_TOKEN }}
    environment: release_env
    outputs:
      performed_release: ${{ steps.release.outputs.performed_release}}
    steps:
      - uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@v3.5.1
        with:
          node-version: 18.12.1

      - name: Set up Python 3.9
        uses: actions/setup-python@v4.3.0
        with:
          python-version: 3.9

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install Python dependencies - pyjavaproperties
        run: pip install pyjavaproperties

      - name: Make bump_versions.py executable
        run: chmod +x ./.github/ci-scripts/release/bump_versions.py

      - name: Install Node.js dependencies
        run: npm ci

      - name: Release
        id: "release"
        run: npx semantic-release --ci
