name: Google Play Store Release Workflow
run-name: Google Play Store Release
on:
  release:
  workflow_dispatch:
  workflow_call:
    secrets:
      KEY_STORE_BASE64:
        required: true
      KEY_STORE_PASSWORD:
        required: true
      KEY_ALIAS:
        required: true
      KEY_PASSWORD:
        required: true
      RELEASE_SERVICE_ACCOUNT_JSON:
        required: true
jobs:
  release:
    name: Release
    env:
      SIGNING_KEY_FILE_NAME: signing_key_file.jks
      SIGNING_KEY_PATH: app/signing_key_file.jks
    runs-on: ubuntu-latest
    environment: release_env
    steps:
      - uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: corretto
          java-version: 21

      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2

      - name: Base64 Decode Key Store value and write to file named $SIGNING_KEY_FILE
        run: |
          echo "${{ secrets.KEY_STORE_BASE64 }}" >> $SIGNING_KEY_DECODED
          base64 -d $SIGNING_KEY_DECODED > $SIGNING_KEY_PATH
        env:
          SIGNING_KEY_DECODED: signing_key_decoded.txt
          
      - name: Make $SIGNING_KEY_FILE executable
        run: chmod +x $SIGNING_KEY_PATH

      - name: Build and Sign Release Bundle with Gradle
        run: ./gradlew signFullReleaseBundle --stacktrace -PdisablePreDex -Pfull_release_storePassword=${{ secrets.KEY_STORE_PASSWORD }} -Pfull_release_keyAlias=${{ secrets.KEY_ALIAS }} -P=full_release_keyPassword=${{ secrets.KEY_PASSWORD }} -P=full_release_storeFile=$SIGNING_KEY_FILE_NAME

      - name: Create service_account.json FROM secrets.SERVICE_ACCOUNT_JSON
        run: echo '${{ secrets.RELEASE_SERVICE_ACCOUNT_JSON }}' > service_account.json

      - name: Upload signed AAB to Playstore
        uses: r0adkll/upload-google-play@v1.1.3
        with:
          serviceAccountJson: service_account.json
          packageName: com.github.goldy1992.mp3player.full
          releaseFiles: app/build/outputs/bundle/fullRelease/app-full-release.aab
          track: production
          status: completed
          changesNotSentForReview: true
          inAppUpdatePriority: 2
          whatsNewDirectory: distrib/whatsnew
          mappingFile: app/build/outputs/mapping/fullRelease/mapping.txt