name: Master Check Run Completed Workflow
on:
  workflow_dispatch:
  check_run:
    types: [completed]
    branches:
      - master

jobs:
  sonar-quality-gate-check:
    runs-on: ubuntu-latest
    env:
      GITHUB_CONTEXT: ${{ toJson(github) }}
      QUALITY_GATE_PASSED: 0
    steps:
      - uses: actions/checkout@v3.0.2
        with:
          fetch-depth: 0

      - name: Dump GitHub context into event.json
        run: echo $GITHUB_CONTEXT | tee event.json;

      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Install Python dependencies - PyGithub
        run: pip install PyGithub

      - name: Make quality_gate_check.py executable
        run: chmod +x ./.github/ci-scripts/quality_gate_check.py

      - name: Check Sonar Quality Gate
        run: echo "QUALITY_GATE_PASSED=$(python3 .github/ci-scripts/quality_gate_check.py event.json | tail -1)" >> $GITHUB_ENV ;

      - name: Check Quality Gate Passed
        if: ${{ !env.QUALITY_GATE_PASSED }}
        run: \
          echo "Quality gate failed! Exiting with code 1."
          exit 1

  semantic-release:
    needs: sonar-quality-gate-check
    runs-on: ubuntu-latest
    environment: release_env
    uses: ./.github/workflows/github-semantic-release

  release-to-playstore:
    needs: semantic-release # needs semantic release so that the versions are incremented
    runs-on: ubuntu-latest
    environment: release_env
    uses: ./.github/workflows/google-play-store-release
